
{% extends "base.html" %} {% block title %}Register{% endblock %}
{% block content %}
		<div class="register">
			<h1>Register</h1>
			<div class="links">
				<a href="{{ url_for('auth.login') }}" >Login</a>
				<a href="{{ url_for('auth.register') }}"class="active">Register</a>
			</div>
            <div class="links">
				<a href="{{ url_for('auth.register_vendor') }}">Register Vendor</a>
                <a href="{{ url_for('auth.register_customer') }}">Register Customer</a>
			</div>

		</div>

{% endblock %}